<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.co.myroute.sample">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".main.view.SampleActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".architecture.rx.RxSampleActivity"/>
        <activity android:name=".architecture.lifecycle.LifeCycleSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                        android:host="pending"
                        android:scheme="sample"/>
            </intent-filter>
        </activity>

        <activity android:name=".architecture.layout.GlobalLayoutSampleActivity"/>
        <activity android:name=".android.thread.HandlerSampleActivity"/>
        <activity android:name=".design.drawerlayout.DrawerLayoutSampleActivity"
                  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".design.toolbar.ToolbarSampleActivity"
                  android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".design.snackbar.SnackbarSampleActivity"/>
        <activity android:name=".design.coordinatelayout.CoordinatorLayoutSampleActivity"/>
        <activity android:name=".library.autovalue.AutoValueSampleActivity"/>
    </application>

</manifest>